@import "./variable.scss";

.bg-card {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 300px !important;
    min-height: 300px;
    width: 100%;
    background-color: #f8f9fa;
}

.check {
    color: $check;
}

.progres {
    color: $progress;
}


@keyframes WorkInProgress {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.check,
.progres {
    font-size: 2.5em;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
}

.bg-reservia,
.bg-ohmyfood,
.bg-chouetteagence,
.bg-orinoco,
.bg-sopekocko,
.bg-groupomania,
.bg-archedugrog {
    border-radius: 1em;
    transform: scale(1);
    .fa-check-circle {
        transform: rotate(-360deg);
        transition-duration: 1s;
    }
    .fa-circle-notch {    
        animation-name: WorkInProgress;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
    &:hover,
    &:focus {
        animation-name: scale;
        animation-duration: 0.6s;
        animation-fill-mode: both;
        animation-direction: alternate;
        animation-timing-function: ease-out;
        .fa-check-circle {
            transform: rotate(360deg);
            transition-duration: 1s;
        }
        
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.bg-reservia {
    background-image: url("./PhoneReservia.png");
}

.bg-ohmyfood {
    background-image: url("./PhoneOhmyfood.png");
}

.bg-chouetteagence {
    background-image: url("./PhoneChouetteAgence.png");
}

.bg-orinoco {
    background-image: url("./PhoneOrinoco.png");
}

.bg-sopekocko {
    background-image: url("./PhoneSepekocko.png");
}

.bg-groupomania {
    background-image: url("./PhoneGroupomania.png");
}

.bg-archedugrog {
    background-image: url("./PhoneArcheDuGrog.png");
}
